<h1>History:</h1>
<div class="vertical-menu">
<table border="1" class="table table-hover row-clickable" style="width:100%">
  
  {{#each obj1}}
  <tr>
    <td  align="center">TransactionId: {{this.TxId}}<br/>TransactionTime: {{this.Timestamp}}<br/>
    {{#if_eq this.IsDelete "false"}}
    AssetName: {{this.Value.AssetName}}<br/>OwnerNID: <b>{{this.Value.OwnerNID}}</b><br/>OwnerName: {{this.Value.OwnerName}}<br/>
    Advertised: {{this.Value.Advertised}}
    </td>
    {{else}}
     Asset has been deleted at this point
    {{/if_eq}}
  </tr>
  {{/each}}
</table> 
  </div>




<h1>Current Status:</h1>
{{#if obj}}

    <table   style="width:100%;border-spacing:1em;border-collapse:separate;border: 1px solid black;">

  <tr>
    <td align="center">Code/Key :</td>
    <td align="center">{{key}}</td>
  </tr>
  <tr>
    <td align="center">Location :</td>
    <td align="center"><img src="{{obj.LocationImage}}" class="img-thumbnail"  style="height:300px; width:350px;border: 1px solid grey;"alt="templatemo easy profile"></td>
  </tr>

  <tr>
    <td align="center">Division :</td>
    <td align="center">{{obj.Division}}</td>
  </tr>
  <tr>
    <td align="center">District :</td>
    <td align="center">{{obj.District}}</td>
  </tr>
  
  <tr>
    <td align="center">MaujaNo_JL :</td>
    <td align="center">{{obj.MaujaNo_JL}}</td>
  </tr>
  <tr>
    <td align="center">Khatian No :</td>
    <td align="center">{{obj.KhatianNo}}</td>
  </tr>
  <tr>
    <td align="center">Plot No :</td>
    <td align="center">{{obj.PlotNo}}</td>
  </tr>

  <tr>
    <td align="center">AssetName :</td>
    <td align="center">{{obj.AssetName}}</td>
  </tr>
  <tr>
    <td align="center">UploadTime :</td>
    <td align="center">{{obj.UploadTime}}</td>
  </tr>
  <tr>
    <td align="center">Is-Advertised :</td>
    <td align="center">{{obj.Advertised}}</td>
  </tr>
  <tr>
    <td align="center">OwnerName :</td>
    <td align="center">{{obj.OwnerName}}</td>
  </tr>
  <tr>
    <td align="center">OwnerNID :</td>
    <td align="center">{{obj.OwnerNID}}</td>
  </tr>
</table> 
{{else}}
    <p>Asset has been deleted .</p>
{{/if}}

{{!-- {{result}} --}}