 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<link rel="stylesheet" href="/stylesheets/style.css">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
	
</head>



<body>

  {{#if AdminPage}}
    {{#if Admin}}
    <div class="topnav">
    <a href="/admin/requests">Home</a>
    <a href="/admin/searchPage">Asset's Transaction History</a>
    <a href="/admin/logout"><i class="fa fa-lock"></i>Logout</a>
    </div>
    {{/if}}
  {{else}}

    {{#if NID}}
<div class="topnav">
  <a href="/asset/ads">Ads</a> 
  <a href="/asset/searchPage">Asset's Transaction History</a>
  <a href="/user/searchPage">Search User</a>
  <a href="/notification/">Notifications({{notifications.N}})</a>   
  <a href="/request/myRequests"><i >Sent Requests({{notifications.S}})</i></a>   
  <a href="/request/ReceivedRequests"><i >Received Requests({{notifications.R}})</i></a>              
</div> 
   <header id="header" > <!--header-->    
        <div class="header-middle"><!--header-middle-->
            <div class="container">
                <div class="row">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                            
                                <li class="dropdown">
                                 <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Hi, {{USERNAME}}
                                <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                    <i class="fa fa-gear"></i>
                                </li>
                                <li><a href="/user/profile"><i >My Profile</i></a></li>
                              
                               <li><a href="/asset"><i >My Assets</i></a></li>
                               <li><a href="/notification/"><i >Notifications({{notifications.N}})</i></a></li>

                                <li><a href="/request/myRequests"><i>Sent Requests({{notifications.S}})</i></a></li>      

                                <li><a href="/request/ReceivedRequests"><i >Received Requests({{notifications.R}})</i></a></li>      
      

                              <li><a href="/asset/uploadpage"><i >Upload an Asset</i></a></li>
                               <li><a href="/user/logout"><i >Logout</i></a></li>

                                </ul>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header><!--/header--> 
    {{else}}
      <div class="topnav">
    <a href="/user"><i class="fa fa-lock"></i> Login</a>
    <a href="/user/signUp"><i class="fa fa-lock"></i> Sign Up</a>                          
    </div> 
    {{/if}}

  {{/if}}



  {{{ body }}}

 

</body>

</html> 

